@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/roboto-v20-latin-300.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/roboto-v20-latin-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/crete-round-v9-latin-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --primary-font-family: 'Crete Round', serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --primary-color: #d22365;
  --soft-color: #fff;
  --neutral-color: #f0f0f2;
  --heavy-color: #282c34;
  --warning-color: #ffffd6;
  --danger-color: #ed2b1d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
  font-weight: 300;
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 {
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

a {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  text-decoration: none;
}

nav {
  margin-bottom: 1rem;

  a {
    padding-right: 1rem;
  }

}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

main[data-loading] {
  opacity: 0.7;
}

article {
  
  span {
    background-color: var(--neutral-color);
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
  }

  p {
    display: block;
    margin-bottom: 1rem;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 1.4rem;
  }
}